@using QuizletWebMvc.ViewModels.Class;
@{
    Layout = null;
    int count = 1;
}
@model ListClassLearningModuleViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="HeaderHome" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            var dataToPass = "";
            $('#confirmChooseTitle').on('click', function () {
                dataToPass = $('#confirmChooseTitle').val();
                var stringArray = dataToPass.split(':');
                var moduleIdd = parseInt(stringArray[1], 10);
                var url = '@Url.Action("CopyModule", "Class")' + '?titleId=' + @Model.SelectedTitleId + '&moduleId=' + moduleIdd + '&classId=' + @Model.ClassId;
                alert(@Model.SelectedTitleId +':' + moduleIdd + ':' + @Model.ClassId);
                window.location.href = url;

            });
            $('.copyButton').on('click', function () {
                dataToPass = $(this).val()
                var confirmButton = $(document).find('#confirmChooseTitle')
                confirmButton.val(dataToPass)

            });
        });
    </script>
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <partial name="_Navigation" />
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <partial name="TopNavbar" />
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">@Model.ClassName</h4>
                                    <p class="card-description">@Model.Describe</p>
                                    <p class="card-description">Created at @Model.CreatedDate.ToString("dd/MM/yyyy")</p>
                                    <div class="template-demo">
                                        <a href="@Url.Action("YourJoinClass", "Class")" class="btn btn-outline-primary">Back</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Class room detail</h4>
                                    <p class="card-description">

                                    </p>
                                    <div class="table-responsive">
                                        <table class="table table-dark">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> Name </th>
                                                    <th> Describe </th>
                                                    <th> Added date</th>
                                                    <th> Terms amount </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.LearningModules)
                                                {
                                                    <tr>
                                                        <td> @count </td>
                                                        <td>@item.LearningModuleName</td>
                                                        <td>@item.Describe </td>
                                                        <td>@item.AddedDate.ToString("dd/MM/yyyy")</td>
                                                        <td>@item.NumberTerms</td>
                                                        <td>
                                                        <td>
                                                            <button class="btn btn-primary copyButton" data-toggle="modal" data-target="#copyWarningModal" value="CopyModule:@item.LearningModuleId:@item.LearningModuleName">Copy</button>
                                                            <a href="@Url.Action("TermParticipant", "Term", new{learningModuleId = item.LearningModuleId})" class="btn btn-secondary">Go to</a>
                                                        </td>
                                                    </tr>
                                                    count++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->

            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <partial name="FooterHome" />
    <partial name="Warnings" />

    <!-- Modal -->
    <div class="modal fade" id="copyWarningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningModalLabel">Choose the thing you want</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Please choose the title to contain copy module?</h5>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedTitleId, "Select a title:")
                        @Html.DropDownListFor(model => model.SelectedTitleId, new SelectList(Model.Titles,"TitleId","TitleName"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedTitleId, "", new { @class = "text-danger" })
                    </div>

                    <button type="button" class="btn btn-primary" id="confirmChooseTitle">Choose</button>
                </div>
                <div class ="modal-body">
                    <h5>Or create a new title</h5>
                    <a class="btn btn-success" href="@Url.Action("CreateTitleModule", "TitleModule")">Create Title</a>
                </div>
               @*  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-warning" id="confirmDelete">OK</button>
                </div> *@
            </div>
        </div>
    </div>
</body>
</html>

