@{
    ViewData["Title"] = "Practice Term";
    Layout = null;
    int count = 1;
}
@using QuizletWebMvc.ViewModels.Terminology;
@model ListObjectivePack

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="HeaderHome" />
    <style>

        body {
            font-family: Arial, sans-serif;
            background-color: #000000;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .container {
            background-color: #000000;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
        }

        .top-left-link {
            position: absolute;
            top: 0;
            left: 0;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .question {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .options {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
        }

        .option {
            margin-bottom: 10px;
            font-size: 16px;
        }

        button {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
        }

            button:hover {
                background-color: #0056b3;
            }

        #result {
            font-weight: bold;
            margin-top: 20px;
            font-size: 20px;
            display: none;
        }

        .hidden {
            display: none;
        }

        .option label {
            display: flex;
            align-items: center;
        }

        .option input[type="radio"] {
            margin-right: 10px;
        }
    </style>
    <script>
        var currentQuestion = 1;
        var itemsArray = @Html.Raw(Json.Serialize(Model.ObjectivePacks));
        function checkAnswer(questionNumber) {
            var selectedAnswer = document.querySelector('input[name="answer' + questionNumber + '"]:checked');
            if (selectedAnswer) {
                var userAnswer = selectedAnswer.value;
                var correctAnswer = itemsArray[currentQuestion - 1].answer;
                if (userAnswer === correctAnswer) {
                    document.getElementById("result").innerHTML = "Question " + questionNumber + ": Right choice!";
                } else {
                    document.getElementById("result").innerHTML = "Question " + questionNumber + ": Wrong!! " + itemsArray[currentQuestion - 1].answer;
                }
                document.getElementById("result").style.display = "block";
            } else {
                alert("Please choose your answer.");
            }
        }

        function previousQuestion() {
            if (currentQuestion > 1) {
                document.getElementById("question" + currentQuestion).classList.add("hidden");
                currentQuestion--;
                document.getElementById("question" + currentQuestion).classList.remove("hidden");
                document.getElementById("result").style.display = "none";
            }
        }

        function nextQuestion() {
            if (currentQuestion < itemsArray.length) {
                document.getElementById("question" + currentQuestion).classList.add("hidden");
                currentQuestion++;
                document.getElementById("question" + currentQuestion).classList.remove("hidden");
                document.getElementById("result").style.display = "none";
            }
        }
    </script>
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <partial name="_Navigation" />
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <partial name="TopNavbar" />
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Practice</h4>
                                    <p class="card-description"> Multiplce choice </p>
                                    @foreach (var item in Model.ObjectivePacks)
                                    {
                                        if(count==1)
                                        {
                                            <div class="container" id="question@(count)">
                                                <div class="question">
                                                    @item.Question
                                                </div>
                                                <div class="options">
                                                    <div class="option">
                                                        <label> A
                                                            <input type="radio" name="answer1" value="A"> @item.ChoiceA
                                                        </label>
                                                    </div>
                                                    <div class="option">
                                                        <label> B
                                                            <input type="radio" name="answer1" value="B"> @item.ChoiceB
                                                        </label>
                                                    </div>
                                                    <div class="option">
                                                        <label> C
                                                            <input type="radio" name="answer1" value="C"> @item.ChoiceC
                                                        </label>
                                                    </div>
                                                    <div class="option">
                                                        <label> D
                                                            <input type="radio" name="answer1" value="D"> @item.ChoiceD
                                                        </label>
                                                    </div>
                                                </div>
                                                <button onclick="checkAnswer(1)">Check</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="container hidden" id="question@(count)">
                                                <div class="question">
                                                    @item.Question
                                                </div>
                                                <div class="options">
                                                    <div class="option">
                                                        <label> A
                                                            <input type="radio" name="answer1" value="A"> @item.ChoiceA
                                                        </label>
                                                    </div>
                                                    <div class="option">
                                                        <label> B
                                                            <input type="radio" name="answer1" value="B"> @item.ChoiceB
                                                        </label>
                                                    </div>
                                                    <div class="option">
                                                        <label> C
                                                            <input type="radio" name="answer1" value="C"> @item.ChoiceC
                                                        </label>
                                                    </div>
                                                    <div class="option">
                                                        <label> D
                                                            <input type="radio" name="answer1" value="D"> @item.ChoiceD
                                                        </label>
                                                    </div>
                                                </div>
                                                <button onclick="checkAnswer(1)">Check</button>
                                            </div>
                                        }
                                        
                                        count++;
                                    }
                                    

                                    

                                    <div id="navigation">
                                        <button onclick="previousQuestion()">Previous</button>
                                        <button onclick="nextQuestion()">Next</button>
                                        @if(Model.IsOwned)
                                        {
                                            <a class="top-left-link btn btn-primary" href="@Url.Action("Term", "Term",new { learningModuleId = Model.LearningModuleId })">Exit</a>
                                        }
                                        else
                                        {
                                            <a class="top-left-link btn btn-primary" href="@Url.Action("TermParticipant", "Term",new { learningModuleId = Model.LearningModuleId })">Exit</a>
                                        }

                                    </div>
                                    <p id="result"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->

            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <partial name="FooterHome" />
</body>
</html>




